@import "tailwindcss";

:root {
  --spacing: 4px;
  --font-size: 16px;
  --background: var(--stone);
  --foreground: #171717;
  --primary: #00003C;
  --secondary: #E13246;
  --white: #FFFFFF;
  --black: #000000;
  --stone: #F0F0E6;
  --coral: #FF9E94;
  --red: #E13246;
  --dark-stone: #DEDEC9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-tt-norms: var(--font-tt-norms);
  --font-tag: var(--font-tag);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  box-sizing: border-box;
}
html * {
  box-sizing: border-box;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(3px); }
  to   { opacity: 1; transform: translateY(0); }
}

.container {
  @apply max-w-[1680px] mx-auto px-4 sm:px-6 lg:px-8;
}